@font-face {font-family: pickup; src: url('../font/Fabada-regular.otf'); }
@font-face {font-family: quicksand; src: url('../font/Quicksand_Book.otf');}
@font-face {font-family: gotham; src: url('../font/Gotham/Gotham-Medium.otf');}
@font-face {font-family: gotham-light; src: url('../font/Gotham/Gotham-Light.otf')}
@font-face {font-family: gotham-bold; src: url('../font/Gotham/Gotham-Bold.otf')}
@font-face {font-family: noir; src: url('../font/Distant_Stroke.otf')}





*{
    font-family: gotham;
}

.ui-loader {
    display: none;
}

body {
    margin: 0;
    position: relative;
}

label {
    font-size: 25px;
    line-height: 50px;
}

input {
    font-size: 25px;
    height: 30px;
    width: 18%;
}

h1 {
    font-family: pickup;
    text-align: center;
    font-size: 125px;
    letter-spacing: 10px;
    color: #444444;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    text-align: center;
}

th {
    color: #757575;
}

th, td {
   border: 2px solid #757575;
   font-size: 25px;
}

tr {
    height: 75px;
}


#header {
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    position: fixed;
}

#header input {
    height: 60px;
    position: absolute;
    width: 30%;
    border-radius: 5px;
    border-style: none;
    font-family: gotham-light;
    font-size: 45px;
    line-height: 20px;
    text-align: center;
    top: 400px;
}

#header #loginform {
    display: none;
}

#header #joinform {
    display: none;
}

#header #username, #header #Reg_username {
    left: 15%;
}

#header #password, #header #Reg_password {
    right: 15%;
}

#header #Reg_email {
    top: 500px;
    left: 40%;
}

#header button {
    background: none;
    border: none;
    height: 70px;
    position: absolute;
    top: 300px;
    width: 400px;
    font-family: gotham;
    font-size: 60px;
    color: white;
}
#header #register {
    left: 15%;
}
#header #login {
    right: 15%;
}

#title {
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: bottom;
    margin: 0;
    padding-top: 75px;
    background-attachment: fixed;
}

#title #main_logo {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subsection {
    height: 500px;
    background-color: #FAFAFA;
    margin: 0;
    padding-top: 35px;
    display: none;
}

.subsection h1 {
    font-size: 70px;
}

.subsection p {
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

#how {
    background-color: #bbc6e6;
}



#overlay {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.modal {
    background-color: white;
    width: 50%;
    height: 400px;
    position: absolute;
    left: 25%;
    top: 100px;
}

#registerform h3 {
    text-align:center;
    font-family: geneva, georgia, serif, helvetica;
    font-size:25pt;
    color: white;
}
                
#registerform p {
    text-align: center;
    font-family: geneva, georgia, helvetica;
    font-weight:300;
    color: white;
}

#register_modal {
    background-image: url("https://lh3.ggpht.com/zLa8_9fnCaAZl8bppGvEOEoCQr4cZKbPwNO6CwGk4Lg6KfCf40b1bwp4raKlEldFiEk=h900");
}




/* DASHBOARD */

#dashboard {
    background-image: url('../img/dash-bg.jpg');
    background-size: cover;
    background-position: right bottom;
}

#dashboard h2 {
    font-family: gotham-light;
    font-size: 35px;
    color: #757575;
}

#dashboard p {
    font-family: gotham-bold;
    font-size: 20px;
}

#logo {
    margin-top: 25px;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dashboard table {
    width: 100%;
}

.rankingCont {
    position: absolute;
    top: 8px;
    right: 17%;
    font-family: gotham-light;
}

.rankingCont span {
    font-family: inherit;
}

#logout {
    position: absolute;
    top: 20px;
    left: 10%;
    width: 5%
}

#showUsername {
    position: absolute;
    top: 8px;
    margin-left: 17%;
}

#plus {
    position: absolute;
    top: 20px;
    right: 10%;
    width: 4%;
}

.white_box {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    padding-top: 1px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5px;
    border: 3px #ccc;
    border-style: hidden solid solid hidden;
}

#new_game, #creategame {
    background-color: #12b8fe;
    border: none;
    width: 25%;
    height: 75px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.nogames {
    display: none;
}

#create_game {
    margin-bottom: 25px;
    line-height: 5px;
    height: 400px;
    display: none;

}

#create_game input {
    float: right;
    height: 40px;
    font-size: 25px;
    width: 60%;
    border: 1px solid #ccc;
}

#create_game #left {
    width: 50%;
    margin-right: 0;
    float: left;
}

#dashboard #details {
    position: relative;
    right: 0;
    top: 0;
    float: right;
    width: 40%;
    height: 75px;
    margin-right: 5%;
    font-size: 25px;
}

#dashboard #detailslabel {
    margin-left: 5%;
}

#creategame {
    position: relative;
    top: 200px;
    right: 30%;
}



/* GAME PAGE */

#game_page {
    background-image: url('../img/game-bg.jpg');
    background-size: cover;
    background-position: bottom;
}

#game_box {
    padding-top: 30px;
    padding-left: 4%;
    padding-bottom: 30px;
    height: 500px;
}


#left_box {
    width: 66%;
    height: 100%;
    border-right: 1px solid #757575;
    float: left;
}

#game_page h2, #game_page h2 span {
    letter-spacing: 2px;
    color: #757575;
    font-family: gotham-light;
    font-size: 30px;
}

#game_page #time {
}

#game_page #details {
    margin-top: 100px;
    font-size: 25px;
}

#right_box {
    width: 33%;
    float: right;
    text-align: center;
    height: 100%;
    position: relative;
}

#right_box h2 {
    border-bottom: 1px solid #757575;
    padding-bottom: 10px;
}

#right_box p {
    color: #757575;
    padding-top: 5px;
    font-size: 25px;
}

#right_box #joingame, #right_box #leavegame {
    background-color: #12b8fe;
    border: none;
    width: 40%;
    height: 40px;
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 5px;
    left: 29%;
}

#right_box #reportscore {
    background-color: #FF6060;
    border: none;
    width: 40%;
    height: 40px;
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 5px;
    right: 5%;
}

#game_page .rankingCont {
    right: 10%;
}

#scoreform input {
    margin-right: 50px;
}

#scoreform #submit {
    background-color: #12b8fe;
    border: none;
    width: 10%;
    height: 30px;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 810px;
    left: 70%;
}

#scorebox {
    height: 200px;
    display: none;
}

#game_page #showUsername {
    right: 10%;
    top: 30px;
}



/* RANKING PAGE */

#ranking {
    background-image: url('../img/game-bg.jpg');
    background-size: cover;
    background-position: bottom;
}

#ranking .white_box {
    height: 800px;
    overflow: scroll;
    padding-left: 50px;
}

#ranking .white_box p {
    font-size: 40px;
}

#ranking h1 {
    margin-top: 20px;
    font-family: noir;
    font-size: 80px;
}








