@font-face {font-family: pickup; src: url('../font/Fabada-regular.otf'); }
@font-face {font-family: quicksand; src: url('../font/Quicksand_Book.otf');}
@font-face {font-family: gotham; src: url('../font/Gotham/Gotham-Medium.otf');}
@font-face {font-family: gotham-light; src: url('../font/Gotham/Gotham-Light.otf')}
@font-face {font-family: gotham-bold; src: url('../font/Gotham/Gotham-Bold.otf')}
@font-face {font-family: noir; src: url('../font/Distant_Stroke.otf')}





*{
    font-family: gotham;
}

.ui-loader {
    display: none;
}

body {
    margin: 0;
    position: relative;
}

label {
    font-size: 25px;
    line-height: 50px;
}

input {
    font-size: 25px;
    height: 30px;
}

h1 {
    font-family: pickup;
    text-align: left;
    font-size: 125px;
    letter-spacing: 10px;
    color: #444444;
    margin: 0;
}

h3 {
    font-family: gotham-light;
    text-align: center;
    font-size: 60px;
    letter-spacing: 8px;
    color: #FFFFFF;
    
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    text-align: center;
}

th {
    color: #757575;
}

th, td {
   border: 2px solid #757575;
   font-size: 25px;
}

tr {
    height: 75px;
}


#header {
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
}

#header #learn {
    width: 40%;
    position: absolute;
    top: 350px;
    left: 8%;
    font-size: 50px;
    letter-spacing: 0px;
    display: block;
}

#header #updated {
    width: 40%;
    position: absolute;
    top: 350px;
    right: 8%;
    font-size: 50px;
    letter-spacing: 0px;
    display: block;
}


#header input {
    height: 60px;
    position: absolute;
    width: 30%;
    border-radius: 5px;
    border-style: none;
    font-family: gotham-light;
    font-size: 45px;
    line-height: 20px;
    text-align: center;
    top: 400px;
}

#header #loginform {
    display: none;
}

#header #joinform {
    display: none;
}

#header #username, #header #Reg_username {
    left: 15%;
}

#header #password, #header #Reg_password {
    right: 15%;
}

#header #Reg_email {
    top: 500px;
    left: 40%;
}

#header button {
    background: none;
    border: none;
    height: 70px;

    font-family: gotham;
    font-size: 60px;
    color: white;
}
#header #register {
    left: 15%;
}
#header #login {
    right: 15%;
}

#title {
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    
    background-size: cover;
    background-position: bottom;
    margin: 0;
    padding-top: 75px;
    /*background-attachment: fixed;*/
}

#title #main_logo {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subsection {
    height: 500px;
    background-color: #FFFFFF;
    margin: 0;
    padding-top: 35px;
    padding-left: 10%;
    padding-right: 10%;
    
}

.subsection h1 {
    font-size: 40px;
    font-family: gotham;
    letter-spacing: 0px;
}

.subsection p {
    text-align: center;
    font-family: gotham;
    color: #5d5d5d;
    font-size: 24px;
}

#subscribe {
    height: 425px;
}

#what h1 {
    color: #07b6ff;
}

#what #underline {
    height: 10px;
    width: 110px;
    background-color: #b4e9ff;
    margin-top: 7px;
    margin-bottom: 80px;
}

.hex {
    width: 22%;
    margin-left: 8%;
    display: inline-block;
}

.hex img{
    width: 100%;
}

#how {
    background-color: #eeeeee;
    height: 650px;
}

#how h1 {
    color: #5d5d5d;
}

#how p {
    text-align: left;
    width: 60%;
    float: left;
    display: inline;
}

#how #underline {
    height: 8px;
    width: 85px;
    background-color: #bfbfbf;
    margin-top: 5px;
    margin-bottom: 40px;
}

#balls {
    width: 30%;
    display: inline-block;
    float: right;
    vertical-align: top;
}



#overlay {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.modal {
    background-color: white;
    width: 50%;
    height: 400px;
    position: absolute;
    left: 25%;
    top: 100px;
}

#registerform h3 {
    text-align:center;
    font-family: geneva, georgia, serif, helvetica;
    font-size:25pt;
    color: white;
}
                
#registerform p {
    text-align: center;
    font-family: geneva, georgia, helvetica;
    font-weight:300;
    color: white;
}

#register_modal {
    background-image: url("https://lh3.ggpht.com/zLa8_9fnCaAZl8bppGvEOEoCQr4cZKbPwNO6CwGk4Lg6KfCf40b1bwp4raKlEldFiEk=h900");
}

#footer {
    background-color: #07b6ff;
    height: 60px;
}

#footer img{
    width: 2%;
    margin-left: 49%;
    margin-top: 10px;
}

#subscribe h1 {
    color: #07b6ff;
}

#subscribe #underline {
    height: 10px;
    width: 110px;
    background-color: #b4e9ff;
    margin-top: 7px;
    margin-bottom: 40px;
}


#mc-embedded-subscribe {
    background-color: #aaaaaa;
    border: none;
    width: 25%;
    height: 100%;
    position: absolute;
    right: 0;
    font-family: gotham;
    text-align: center;
    color: white;
    font-size: 90%;
    line-height: 100%;
    outline: none;
    cursor: pointer;
    letter-spacing: 2px;
    -webkit-appearance: none;
    border-radius: 0px;
    color: white;
}

#mce-EMAIL {
    background-color: #e8e8e8;
    border: none;
    width: 75%;
    height: 100%;
    position: absolute;
    left: 0;
    font-family: gotham;
    text-align: left;
    font-size: 90%;
    line-height: 100%;
    letter-spacing: 2px;
    outline: none;
    padding-left: 15px;
    -webkit-appearance: none;
    border-radius: 0px;
    color: #aaaaaa;
}

#mc_embed_signup {
    width: 50%;
    margin-left: 15%;
    height: 50px;
    position: absolute;
    margin-top: 40px;
}


/* DASHBOARD */

#dashboard {
    background-image: url('../img/dash-bg.jpg');
    background-size: cover;
    background-position: right bottom;
}

#dashboard h2 {
    font-family: gotham-light;
    font-size: 35px;
    color: #757575;
}

#dashboard p {
    font-family: gotham-bold;
    font-size: 20px;
}

#logo {
    margin-top: 25px;
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dashboard table {
    width: 100%;
}

.rankingCont {
    position: absolute;
    top: 8px;
    right: 17%;
    font-family: gotham-light;
}

.rankingCont span {
    font-family: inherit;
}

#logout {
    position: absolute;
    top: 20px;
    left: 10%;
    width: 5%
}

#showUsername {
    position: absolute;
    top: 8px;
    margin-left: 17%;
}

#plus {
    position: absolute;
    top: 20px;
    right: 10%;
    width: 4%;
}

.white_box {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    padding-top: 1px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5px;
    border: 3px #ccc;
    border-style: hidden solid solid hidden;
}

#new_game, #creategame {
    background-color: #12b8fe;
    border: none;
    width: 25%;
    height: 75px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 25px;
}

.nogames {
    display: none;
}

#create_game {
    margin-bottom: 25px;
    line-height: 5px;
    height: 400px;
    display: none;

}

#create_game input {
    float: right;
    height: 40px;
    font-size: 25px;
    width: 60%;
    border: 1px solid #ccc;
}

#create_game #left {
    width: 50%;
    margin-right: 0;
    float: left;
}

#dashboard #details {
    position: relative;
    right: 0;
    top: 0;
    float: right;
    width: 40%;
    height: 75px;
    margin-right: 5%;
    font-size: 25px;
}

#dashboard #detailslabel {
    margin-left: 5%;
}

#creategame {
    position: relative;
    top: 200px;
    right: 30%;
}




/* GAME PAGE */

#game_page {
    background-image: url('../img/game-bg.jpg');
    background-size: cover;
    background-position: bottom;
}

#game_box {
    padding-top: 30px;
    padding-left: 4%;
    padding-bottom: 30px;
    height: 500px;
}


#left_box {
    width: 66%;
    height: 100%;
    border-right: 1px solid #757575;
    float: left;
}

#game_page h2, #game_page h2 span {
    letter-spacing: 2px;
    color: #757575;
    font-family: gotham-light;
    font-size: 30px;
}

#game_page #time {
}

#game_page #details {
    margin-top: 100px;
    font-size: 25px;
}

#right_box {
    width: 33%;
    float: right;
    text-align: center;
    height: 100%;
    position: relative;
}

#right_box h2 {
    border-bottom: 1px solid #757575;
    padding-bottom: 10px;
}

#right_box p {
    color: #757575;
    font-size: 25px;
}

#right_box #joingame, #tournamentjoingame, #right_box #leavegame, #tournamentleavegame {
    background-color: #12b8fe;
    border: none;
    width: 40%;
    height: 40px;
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 5px;
    left: 29%;
}

#right_box #reportscore, #tournamentreportscore {
    background-color: #FF6060;
    border: none;
    width: 40%;
    height: 40px;
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: 5px;
    right: 5%;
}

#right_box #players {
    height: 300px;
    overflow: scroll;
}

#game_page .rankingCont {
    right: 10%;
}

#scoreform input {
    margin-left: 30px;
}

#scoreform #names {
    margin-bottom: 50px;
    font-size: 25px;
}

#scoreform #submit {
    background-color: #12b8fe;
    border: none;
    width: 15%;
    height: 40px;
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 20px;
    left: 70%;
}

#scorebox {
    display: none;
}

#game_page #showUsername {
    right: 10%;
    top: 30px;
}



/* RANKING PAGE */

#ranking {
    background-image: url('../img/game-bg.jpg');
    background-size: cover;
    background-position: bottom;
}

#ranking .white_box {
    height: 800px;
    overflow: scroll;
    padding-left: 50px;
}

#ranking .white_box p {
    font-size: 40px;
}

#ranking h1 {
    margin-top: 20px;
    font-family: noir;
    font-size: 80px;
}








