@font-face {font-family: pickup; src: url('../font/Fabada-regular.otf'); }
@font-face {font-family: quicksand; src: url('../font/Quicksand_Book.otf');}

body {
    margin: 0;
    position: relative;
}

h1 {
    font-family: pickup;
    text-align: center;
    font-size: 125px;
    letter-spacing: 10px;
    color: #444444;
    margin: 0;
}

#header {
    background-color: #444444;
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    position: fixed;
}

#header input {
    height: 18px;
    position: absolute;
    width: 100px;
    border-radius: 5px;
    border-style: none;
    font-family: quicksand;
    font-size: 15px;
    line-height: 20px;
    right: 260px;
    text-align: center;
}

#header #username {
    top: 5px;
}

#header #password {
    bottom: 5px;
}

#header button {
    margin-top: 5px;
    height: 40px;
    position: absolute;
    width: 100px;
    background-color: red;
    border-radius: 5px;
    border-style: none;
    font-family: quicksand;
    font-size: 20px;
    line-height: 20px;
}
#header #register {
    right: 20px;
}
#header #login {
    right: 140px;
}

#title {
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: bottom;
    margin: 0;
    padding-top: 75px;
    background-attachment: fixed;
}

.subsection {
    height: 500px;
    background-color: #FAFAFA;
    margin: 0;
    padding-top: 35px;
}

.subsection h1 {
    font-size: 70px;
}

.subsection p {
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

#how {
    background-color: #bbc6e6;
}



#overlay {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.modal {
    background-color: white;
    width: 50%;
    height: 400px;
    position: absolute;
    left: 25%;
    top: 100px;
}