@font-face {font-family: pickup; src: url('../font/Fabada-regular.otf'); }
@font-face {font-family: quicksand; src: url('../font/Quicksand_Book.otf');}
@font-face {font-family: gotham; src: url('../font/Gotham/Gotham-Medium.otf');}
@font-face {font-family: gotham-light; src: url('../font/Gotham/Gotham-Light.otf')}
@font-face {font-family: gotham-bold; src: url('../font/Gotham/Gotham-Bold.otf')}


*{
    font-family: gotham;
}

body {
    margin: 0;
    position: relative;
}

h1 {
    font-family: pickup;
    text-align: center;
    font-size: 125px;
    letter-spacing: 10px;
    color: #444444;
    margin: 0;
}

table {
    border-collapse: collapse;
    border-style: hidden;
}

td {
    text-align: center;
}

th {
    color: #757575;
}

th, td {
   border: 1px solid #757575;
}

tr {
    height: 30px;
}

#header {
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    position: fixed;
}

#header input {
    height: 18px;
    position: absolute;
    width: 100px;
    border-radius: 5px;
    border-style: none;
    font-family: quicksand;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    top: 33px;
}

#header #loginform {
    display: none;
}

#header #username {
    right: 350px;
}

#header #password {
    right: 240px;
}

#header button {
    background: none;
    border: none;
    margin-top: 5px;
    height: 40px;
    position: absolute;
    width: 100px;
    font-family: gotham;
    font-size: 15px;
    color: white;
}
#header #register {
    right: 140px;
}
#header #login {
    right: 80px;
}

#title {
    width: 100%;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: bottom;
    margin: 0;
    padding-top: 75px;
    background-attachment: fixed;
}

#title #logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subsection {
    height: 500px;
    background-color: #FAFAFA;
    margin: 0;
    padding-top: 35px;
}

.subsection h1 {
    font-size: 70px;
}

.subsection p {
    padding-left: 20%;
    padding-right: 20%;
    text-align: justify;
}

#how {
    background-color: #bbc6e6;
}



#overlay {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.modal {
    background-color: white;
    width: 50%;
    height: 400px;
    position: absolute;
    left: 25%;
    top: 100px;
}

#registerform h3 {
    text-align:center;
    font-family: geneva, georgia, serif, helvetica;
    font-size:25pt;
    color: white;
}
                
#registerform p {
    text-align: center;
    font-family: geneva, georgia, helvetica;
    font-weight:300;
    color: white;
}

#register_modal {
    background-image: url("https://lh3.ggpht.com/zLa8_9fnCaAZl8bppGvEOEoCQr4cZKbPwNO6CwGk4Lg6KfCf40b1bwp4raKlEldFiEk=h900");
}




/* DASHBOARD */

#dashboard {
    background-image: url('../img/dash-bg.jpg');
    background-size: cover;
    background-position: right bottom;
}

#dashboard h2 {
    font-family: gotham-light;
    font-size: 20px;
    color: #757575;
}

#dashboard p {
    font-family: gotham-bold;
}

#dashboard #logo {
    margin-top: 25px;
    width: 175px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#dashboard table {
    width: 100%;
}

#dashboard #rankingCont {
    position: absolute;
    top: 5px;
    right: 15%;
    font-family: gotham-light;
}

#rankingCont span {
    font-family: inherit;
}

#dashboard #logout {
    position: absolute;
    top: 12px;
    left: 10%;
}

#dashboard #plus {
    position: absolute;
    top: 15px;
    right: 10%;
}

.game_container {
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    padding-top: 1px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 5px;
    box-shadow: 10px 10px 5px #888888;
}

#new_game {
    background-color: #12b8fe;
    border: none;
    width: 15%;
    height: 40px;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    margin-left: .5%;
}